@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] {
  display: none;
}

/* .page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.nuxt-content-highlight {
  @apply relative;
}
.nuxt-content-highlight .filename {
  @apply absolute right-0 text-gray-600 font-light z-10 mr-2 mt-1 text-sm;
}

.my-layouts-enter-active,
.my-layouts-leave-active {
  @apply transition delay-150 duration-300 opacity-100 translate-y-0;
}
.my-layouts-enter,
.my-layouts-leave-active {
  @apply transition delay-150 duration-300 opacity-0 translate-y-4;
} */